*.pyc
build
tests/.scripts
dist/*
gwf.egg*
workflow.dot
.idea/.name
.idea/encodings.xml
.idea/gwf.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
example/.scripts/IndexGenome
example/.scripts/MapReads
example/.scripts/SortBAM
example/.jobs/IndexGenome
example/.jobs/MapReads
example/.jobs/SortBAM
example/.jobs.db
example/.jobs.db.db
example.tar.gz
UnZipGenome
.gwfrc
test.py
_base.scssc
_layout.scssc
