*.pyc
build
tests/.scripts
dist/*
gwf.egg*
workflow.dot
.idea/.name
.idea/encodings.xml
.idea/gwf.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
example/.scripts/IndexGenome
example/.scripts/MapReads
example/.scripts/SortBAM
example/.jobs/IndexGenome
example/.jobs/MapReads
example/.jobs/SortBAM
example/.jobs.db
example/.jobs.db.db
example.tar.gz
UnZipGenome
.gwfrc
.sass-cache/5be533140fc504b573bbc0fa7980eee72477a8ea/_base.scssc
.sass-cache/5be533140fc504b573bbc0fa7980eee72477a8ea/_layout.scssc
.sass-cache/5be533140fc504b573bbc0fa7980eee72477a8ea/_syntax-highlighting.scssc
_site/ez_setup.py
_site/LICENSE
_site/README
_site/setup.py
_site/dist/gwf-0.4.1-py2.7.egg
_site/dist/gwf-0.4.2-py2.7.egg
_site/dist/gwf-0.6.0-py2.7.egg
_site/examples/readmapping/Masala_R1.fastq.gz
_site/examples/readmapping/Masala_R2.fastq.gz
_site/examples/readmapping/ponAbe2.fa.gz
_site/examples/readmapping/workflow.py
_site/examples/readmapping-and-merging/Masala_1_R1.fastq.gz
_site/examples/readmapping-and-merging/Masala_1_R2.fastq.gz
_site/examples/readmapping-and-merging/Masala_2_R1.fastq.gz
_site/examples/readmapping-and-merging/Masala_2_R2.fastq.gz
_site/examples/readmapping-and-merging/ponAbe2.fa.gz
_site/examples/readmapping-and-merging/workflow.py
_site/scripts/gwf
_site/scripts/gwf-config
_site/src/gwf/bwa.py
_site/src/gwf/samtools.py
_site/src/gwf_workflow/backends.py
_site/src/gwf_workflow/colours.py
_site/src/gwf_workflow/configurations.py
_site/src/gwf_workflow/jobs.py
_site/src/gwf_workflow/workflow.py
_base.scssc
_layout.scssc
test.py
.memory/