*.pyc
build/
dist/
gwf.egg*
.idea/
*.egg-info
.coverage*
.vagrant/
_build/
.eggs/
.gwf
.gwf.conf
__pycache__/
examples/minimal-workflow-explicit-options/all.txt
examples/minimal-workflow-explicit-options/greeting.txt
examples/minimal-workflow-explicit-options/universe.txt
examples/minimal-workflow-explicit-options/world.txt
.cache
.vscode/
.pytest_cache/
.nox
.venv
conda-bld/

# pixi environments
.pixi
*.egg-info
